<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.travelogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API-KEY"
            android:value="AIzaSyCVi54xeY-EUy07KbZf6vka_C_FNMlT84E" />

        <activity
            android:name=".PlaceListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaceDetailViewActivity" />
        <activity android:name=".AddPlaceActivity" />

        <provider
            android:name=".data.PlacesProvider"
            android:authorities="com.example.android.travelogue.data.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.travelogue.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MapsActivity" />
        <activity android:name=".settings.SettingsActivity"></activity>
    </application>

</manifest>
